footer{
  padding-block: 3rem;
  .footer__sns-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    a img {
      width: 32px;
      height: 32px;
    }
  }
}