* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  font-family: "M PLUS Rounded 1c","Noto Sans JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN",
    -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Arial,
    sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.fade-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-down {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #f0f2f5;
  .header__container {
    width: 88%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
    @media (max-width: 1024px) {
      padding-block: 1rem;
      width: 96%;
    }
    .header__menu-btn {
      width: 60px;
      height: 60px;
      background: white;
      border: none;
      border-radius: 12px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6px;
      padding: 15px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease;
      position: relative;
      z-index: 10000;
      @media (min-width: 1025px) {
        display: none;
      }
      .header__menu-line {
        width: 30px;
        height: 3px;
        background: #363c45;
        border-radius: 3px;
        transition: all 0.3s ease;
      }

      &.active .header__menu-line:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
      }

      &.active .header__menu-line:nth-child(2) {
        opacity: 0;
        transform: translateX(-20px);
      }

      &.active .header__menu-line:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
    .header__logo-link {
      text-decoration: none;
      color: #363c45;
      font-weight: 600;
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-bottom: 3px; /* テキストと下線の間隔 */
      background-image: linear-gradient(#000, #000);
      background-repeat: no-repeat;
      background-position: bottom right; /* 下線の初期位置 */
      background-size: 0 1px; /* 下線のサイズ（横幅、高さ） */
      transition: background-size 0.3s;
      @media (max-width: 1024px) {
        font-size: 1rem;
        gap: 0.5rem;
      }
      &:hover {
        background-position: bottom left; /* 下線のホバー時位置 */
        background-size: 100% 1px; /* 下線の横幅を100%にする */
      }
      .header__logo-img {
        width: 100px;
        @media (max-width: 1024px) {
          width: 50px;
        }
      }
    }
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      z-index: 998;
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
    .header__nav {
      @media (max-width: 1024px) {
        position: fixed;
        top: 0;
        right: -180px;
        height: 100vh;
        background: #fff;
        transition: right 0.3s ease;
        z-index: 9999;
        padding-block: 10rem;
        width: 160px;
      }
      &.active {
        right: 0;
      }
    }
    .nav-list {
      display: flex;
      list-style: none;
      gap: 1.6rem;
      align-items: center;
      text-decoration: none;
      font-size: 1.2rem;
      @media (max-width: 1024px) {
        flex-direction: column;
      }

      a {
        display: flex;
        align-items: center;
        img {
          width: 25px;
        }
      }
      .nav-list__item {
        cursor: pointer;
        @media (max-width: 1024px) {
          font-size: 1rem;
        }
        &:nth-child(5) a:hover {
          background-size: 0 0; /* 下線を表示しない */
        }
      }
      .nav-list__item a {
        text-decoration: none;
        color: #333;
        padding-bottom: 3px; /* テキストと下線の間隔 */
        background-image: linear-gradient(#000, #000);
        background-repeat: no-repeat;
        background-position: bottom right; /* 下線の初期位置 */
        background-size: 0 1px; /* 下線のサイズ（横幅、高さ） */
        transition: background-size 0.3s;
        &:hover {
          background-position: bottom left; /* 下線のホバー時位置 */
          background-size: 100% 1px; /* 下線の横幅を100%にする */
        }
      }
      .nav-list__item-sns {
        list-style: none;
        display: flex;
        gap: 0.8rem;
      }
      .nav-list__item-login {
        gap: 0.5rem;
      }
      .nav-list__item .nav-list__item-cta {
        background-color: #8c6458;
        color: #fff;
        padding: 0.8rem 2rem;
        border-radius: 2rem;
        border: 2px solid #8c6458;
        &:hover {
          background-color: #fff;
          color: #8c6458;
          border: 2px solid #8c6458;
          transition: all 0.3s ease;
        }
        &:active {
          transform: translate(4px, 4px);
        }
      }
    }
  }
}
