.cta {
  text-decoration: none;
  color: #fff;
  background-color: #36b3b0;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.6rem;
  margin-left: 1rem;
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  transition: all 0.3s ease;
  @media (max-width: 899px) {
    font-size: 1.4rem;
    padding: 0.8rem 1.6rem;
    margin-left: 0;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  }
  &:hover {
    background-color: #fff;
    color: #36b3b0;
    font-weight: 900;
  }
  &:active {
    transform: translate(4px, 4px);
  }
}
.hero {
  background-image: url(../img/hero.webp);
  height: calc(100vh - 137px);
  background-size: cover;
  margin-top: 137px;
  color: #fff;
  display: flex;
  align-items: center;
  @media (max-width: 1024px) {
    margin-top: 92px;
    background-image: url(../img/hero-sp.webp);
    background-position: center bottom;
  }
  @media (max-width: 899px) {
    height: 100vw;
    align-items: flex-start;
  }
  @media (max-width: 500px) {
    height: calc(100vh - 137px);
  }
  .hero__title {
    margin-left: 3rem;
    @media (max-width: 899px) {
      margin-left: 2rem;
      margin-top: 3rem;
    }
    h1 {
      font-size: clamp(2rem, 4vw, 6rem);
      font-weight: bold;
      margin-bottom: 1rem;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
      color: #fff;
    }
    p {
      font-size: 2rem;
      margin-bottom: 5rem;
      margin-left: 1rem;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
      color: #fff;
      @media (max-width: 899px) {
        font-size: 1.4rem;
        margin-bottom: 3rem;
        margin-left: 0;
      }
      .sp-only {
        @media (min-width: 900px) {
          display: none;
        }
      }
    }
  }
}
.service {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f2f5;
  padding-bottom: 8rem;
  h2 {
    font-size: 3rem;
    margin-block: 5rem;
    text-align: center;
  }
  .service-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: min(1000px, 90%);
    margin: 0 auto;
    @media (max-width: 899px) {
      grid-template-columns: 1fr;
    }
    @media (min-width: 1921px) {
      grid-template-columns: repeat(4, 1fr);
      width: 90%;
    }
    .service-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3rem;
      h3 {
        margin: 3rem 0 2rem 0;
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
        text-align: center;
        line-height: 1.6;
        padding: 0 1rem;
      }
      img {
        width: 100%;
      }
    }
  }
  .cta {
    display: flex;
    justify-content: center;
  }
}

.intro {
  display: flex;
  padding-block: 6rem;
  justify-content: center;
  align-items: center;
  .intro__content {
    background-color: #8c6458;
    padding: 2rem 3rem;
    z-index: 2;
    margin-left: -2rem;
    @media (max-width: 899px) {
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h2 {
      color: #fff;
      margin-bottom: 1rem;
      font-size: 2.5rem;
    }
    p {
      color: #fff;
      max-width: 30ch;
      line-height: 1.6;
      @media (max-width: 899px) {
        max-width: 96%;
      }
    }
  }
  @media (max-width: 899px) {
    flex-direction: column;
    .intro__content {
      width: 100%;
    }
  }
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  .popup-content {
    display: flex;
    justify-content: center;
    width: 600px;
  }
  img {
    width: 100%;
    height: auto;
  }
  &.is-active {
    display: flex;
  }
}

.gallery {
  .gallery__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #363c45;
    padding: 7rem 0;
    gap: 2rem;
    h2 {
      color: #fff;
      font-size: 3rem;
    }
    span {
      color: #fff;
    }
  }
  .gallery-wrapper {
    position: relative;
    .gallery__imgs {
      display: flex;
      overflow-x: auto;
      padding: 1rem;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        display: none;
      }
      .img-hover {
        position: relative;
        display: inline-block;
        flex-shrink: 0;
        &::after {
          content: "";
          position: absolute;
          inset: 0;
          background: rgba(0, 0, 0, 0.5);
          opacity: 0;
          transition: opacity 0.3s ease;
        }
        &:hover {
          cursor: pointer;
          &::after {
            opacity: 1;
          }
        }
        .item {
          width: clamp(240px, 30vw, 420px);
        }
      }
    }
    .arrow {
      background: #fff;
      border: 1px solid #ccc;
      padding: 1rem 1rem;
      cursor: pointer;
      border-radius: 50%;
      color: #333;
      display: grid;
      place-items: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;
      &.left {
        left: 3rem;
      }
      &.right {
        right: 3rem;
      }
    }
    .arrow svg {
      width: 24px;
      height: 24px;
    }
  }
}
