.cta {
  display: inline-block;
  margin-left: 1rem;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
  background-color: #36b3b0;
  border-radius: 2rem;
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  @media (max-width: 899px) {
    font-size: 1.4rem;
    padding: 0.8rem 1.6rem;
    margin-left: 0;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  }
  &:hover {
    background-color: #fff;
    color: #36b3b0;
    font-weight: 900;
  }
  &:active {
    transform: translate(4px, 4px);
    box-shadow: none;
  }
}
.hero {
  background-image: url(../img/hero.webp);
  height: calc(100vh - 137px);
  background-size: cover;
  /* margin-top: 137px; */
  color: #fff;
  display: flex;
  align-items: center;
  @media (max-width: 1024px) {
    /* margin-top: 92px; */
    background-image: url(../img/hero-sp.webp);
    background-position: center bottom;
  }
  @media (max-width: 899px) {
    height: 100vw;
    align-items: flex-start;
  }
  @media (max-width: 500px) {
    height: calc(100vh - 137px);
  }
  .hero__title {
    margin-left: 3rem;
    @media (max-width: 899px) {
      margin-left: 2rem;
      margin-top: 3rem;
    }
    h1 {
      font-size: clamp(2rem, 4vw, 6rem);
      font-weight: bold;
      margin-bottom: 1rem;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
      color: #fff;
    }
    p {
      font-size: 2rem;
      margin-bottom: 5rem;
      margin-left: 1rem;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
      color: #fff;
      @media (max-width: 899px) {
        font-size: 1.4rem;
        margin-bottom: 3rem;
        margin-left: 0;
      }
      .sp-only {
        @media (min-width: 900px) {
          display: none;
        }
      }
    }
  }
}
.service {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f2f5;
  padding-bottom: 8rem;
  h2 {
    font-size: 3rem;
    margin-block: 5rem;
    text-align: center;
    @media (max-width: 899px) {
      font-size: 2rem;
      margin-block: 3rem;
    }
  }
  .service-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: min(1000px, 90%);
    margin: 0 auto;
    @media (max-width: 899px) {
      grid-template-columns: 1fr;
    }
    @media (min-width: 1921px) {
      grid-template-columns: repeat(4, 1fr);
      width: 90%;
    }
    .service-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3rem;
      h3 {
        margin: 3rem 0 2rem 0;
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
        text-align: center;
        line-height: 1.6;
        padding: 0 1rem;
      }
      img {
        width: 100%;
      }
    }
  }
  .cta {
    display: flex;
    justify-content: center;
  }
}

.intro {
  display: flex;
  padding-block: 6rem;
  justify-content: center;
  align-items: center;
  @media (max-width: 899px) {
    padding-block: 0;
  }
  .intro__content {
    background-color: #8c6458;
    padding: 2rem 3rem;
    z-index: 2;
    margin-left: -2rem;
    @media (max-width: 899px) {
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h2 {
      color: #fff;
      margin-bottom: 1rem;
      font-size: 2.5rem;
      @media (max-width: 899px) {
        font-size: 2rem;
      }
    }
    p {
      color: #fff;
      max-width: 30ch;
      line-height: 1.6;
      @media (max-width: 899px) {
        max-width: 96%;
      }
    }
  }
  @media (max-width: 899px) {
    flex-direction: column;
    .intro__content {
      width: 100%;
    }
  }
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  .popup-content {
    display: flex;
    max-width: 90vw;
    max-height: 90vh;
    background: #fff;
    @media (max-width: 767px) {
      flex-direction: column;
      max-width: 90vw;
      max-height: 90vh;
    }
  }
  #popupImage {
    max-width: 60vw;
    max-height: 90vh;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    @media (max-width: 767px) {
      max-width: 100%;
      max-height: 60vh;
    }
  }
  img {
    width: 50%;
    height: auto;
  }
  &.is-active {
    display: flex;
  }
  .aside {
    width: min(320px, 30vw);
    overflow-y: auto;
    @media (max-width: 767px) {
      width: 100%;
      max-height: 30vh;
    }

    p {
      color: #666;
    }
    .aside-logo {
      text-align: center;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      p {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        a {
          display: inline-flex;
          align-items: center;
          width: 25px;
          margin-right: 0.5rem;
          border: 1px solid #555;
          border-radius: 50%;
          padding: 0.2rem;
          img {
            width: 100%;
          }
        }
      }
      .modal__close {
        border: none;
        background: none;
        cursor: pointer;
        svg {
          width: 16px;
          height: 16px;
        }
      }
      svg {
        width: 24px;
        height: 24px;
      }
    }
    .aside-menu {
      height: 70vh;
      border-block: 1px solid #ccc;
      padding: 2rem;
      .arrows{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
      }
      button {
        background-color: #fff;
        border: none;
        cursor: pointer;
      }
      p {
        overflow-wrap: break-word;
      }
    }
    .aside-date {
      text-align: right;
      font-size: 1rem;
      color: #666;
      padding: 1rem;
      p {
        text-align: left;
      }
    }
  }
}

.gallery {
  .gallery__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #363c45;
    padding: 7rem 0;
    gap: 2rem;
    h2 {
      color: #fff;
      font-size: 3rem;
      @media (max-width: 899px) {
        font-size: clamp(1.2rem, 4vw, 2rem);
      }
    }
    span {
      color: #fff;
    }
  }
  .gallery-wrapper {
    position: relative;
    .gallery__imgs {
      display: flex;
      overflow-x: auto;
      padding: 1rem;
      scroll-behavior: smooth;
      scrollbar-width: none; /* for Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
      .img-hover {
        position: relative;
        display: inline-block;
        flex-shrink: 0;
        .gallery__img-text {
          position: absolute;
          inset: 0;
          left: 20px;
          display: grid;
          place-items: center;
          color: #fff;
          font-size: clamp(1rem, 2vw, 1.5rem);
          opacity: 0;
          transition: opacity 0.3s;
          z-index: 2;
        }
        &::after {
          content: "";
          position: absolute;
          inset: 0;
          background: rgba(0, 0, 0, 0.5);
          opacity: 0;
          transition: opacity 0.3s ease;
        }
        &:hover {
          cursor: pointer;
          &::after {
            opacity: 1;
          }
          .gallery__img-text {
            opacity: 1;
          }
        }
        .item {
          width: clamp(200px, 25vw, 400px);
        }
      }
    }
    .arrow {
      background: #fff;
      border: 1px solid #ccc;
      padding: 1rem 1rem;
      cursor: pointer;
      border-radius: 50%;
      color: #333;
      display: grid;
      place-items: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;
      @media (max-width: 899px) {
        padding: 0.5rem 0.5rem;
      }
      &.left {
        left: 3rem;
        @media (max-width: 899px) {
          left: 1rem;
        }
      }
      &.right {
        right: 3rem;
        @media (max-width: 899px) {
          right: 1rem;
        }
      }
    }
    .arrow svg {
      width: 24px;
      height: 24px;
    }
  }
}

.voice {
  background-color: #f0f2f5;
  padding: 5rem 3rem;
  h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5rem;
    @media (max-width: 899px) {
      font-size: 2rem;
    }
  }
  .voice-cards {
    display: flex;
    justify-content: center;
    gap: 5rem;
    @media (max-width: 899px) {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }
    .voice-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      width: min(100%, 600px);
    }
    svg {
      width: 50px;
      height: 50px;
      path {
        fill: #333;
      }
    }
  }
}

.opening-hours {
  background-image: url(../img/opening-hours.webp);
  background-size: cover;
  padding-block: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(54, 60, 69, 0.8);
    z-index: 1;
  }
  h2 {
    color: #fff;
    z-index: 2;
    margin-bottom: 2rem;
    font-size: 2.4rem;
    @media (max-width: 899px) {
      font-size: 2rem;
    }
  }
  .hours-content {
    z-index: 2;
    p {
      color: #fff;
      font-size: 1.6rem;
      line-height: 1.6;
    }
  }
}

.contact {
  padding-block: 3rem;
  width: 50%;
  margin: 0 auto;
  @media (max-width: 899px) {
    width: 90%;
  }
  h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    @media (max-width: 899px) {
      font-size: 2rem;
    }
  }
  p + p {
    margin-top: 1rem;
  }
  .button {
    margin-top: 2rem;
    text-align: center;
  }
  button {
    background-color: #36b3b0;
    color: #fff;
    padding: 0.5rem 5rem;
    border: 1px solid #36b3b0;
    border-radius: 2rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: #fff;
      color: #36b3b0;
      border: 1px solid #36b3b0;
    }
    &:active {
      transform: translate(0, 4px);
    }
  }
  label {
    display: block;
  }
  .is-required::after {
    content: " *";
    color: #ff0000;
    margin-left: 5px;
  }
  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}
