.service__hero {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(54, 60, 69, 0.8);
    z-index: 1;
  }
  .service__hero-bg {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .service__hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3rem;
    z-index: 2;
  }
}
.service__menus {
  .tabs {
    position: relative;
    display: flex;
    justify-content: center;

    .tab {
      padding: 12px 24px;
      background: none;
      border: none;
      cursor: pointer;
      margin-top: 3rem;
    }

    .tab-underline {
      position: absolute;
      bottom: 0;
      height: 3px;
      background: #36b2b0;
      transition: transform 0.3s ease, width 0.3s ease;
    }
  }
  .tab-content {
    display: none;
    &.is-active {
      display: block;
    }
  }
}
